<!DOCTYPE html>
<html>
<head>
  <title>GamerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Game Searching</h1>
  <div id="search-form">
    <input type="text" id="search-input" placeholder="Search for a game">
    <button id="search-button">Search</button>
  </div>
  <div id="search-results"></div>
  <div id="game-modal">Hello</div>
</body>
</html>
